.hide-section {
    display: none;
}

#logo {
    width: 100%;
    margin: -260px 0;
}

#login-section {
    text-align: center;
    margin: 200px 30%;
}

#register-section {
    text-align: center;
    margin: 200px 30%;
}
