
/* Div for add habit button */
/* .addHabitDiv {
    background: none;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    border-bottom: 1px solid black;
    transform: translateY(-100vh);
    z-index: -10;
} */

.progressBarDiv {
    width: 160px;
    height: 160px;
    position: relative;
}

.outer{
    height: 80%;
    width: 80%;
    border-radius: 50%;
    
    padding: 20px;
    box-shadow:  6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: white;
    border-radius: 50%;
}

#inner {
    color: black;
    z-index: 1
}